<a href="/auth/instagram"><img src="https://bedloo-assets.s3.amazonaws.com/assets/content/button-instagram-signin-a0653366b8e65d40e401c50330cdb0f8.png"</a>
<a href="/auth/facebook"><img src="https://bedloo-assets.s3.amazonaws.com/assets/content/button-facebook-signin-36f7c448869919776c9eedc955e08d3f.png"</a>