<style>
	a {
	color: black; 
}
</style>


<div class="container">
		{{#each photos}}
		<div class = "col-md-3">
		  <img src="{{url}}" class="img-responsive" class="img hashtag-img">
		  <p> {{caption}}</p>
		</div>
{{/each}}

</div>

<div class="row">
	<div align = "center">
		<button type="button" class="btn btn-primary"><a href="/logout">Logout</a></button>
	</div>
</div>